<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="domain" value="smtp.sendgrid.net"/>
    <add key="username" value="apikey"/>
	<add key="hash" value="**"/>
	  <add key="port" value="587"/>
	  <add key="senderName" value="SMTPTestAPI"/>
	  <add key="senderEmail" value="test@aimscare.org.au"/>

	  <!--<add key="domain" value="smtp.gmail.com"/>
	  <add key="username" value="bharatvedula@gmail.com"/>
	  <add key="hash" value="jedxmdrjucwifowd"/>
	  <add key="port" value="587"/>
	  <add key="senderName" value="bharatvedula"/>
	  <add key="senderEmail" value="bharatvedula@gmail.com"/>
	  --><!--465-->
    
	  
  </appSettings>
</configuration>
